exec_7541.json
{"id":"7541","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2025-12-04T19:37:14.505Z","startedAt":"2025-12-04T19:37:14.514Z","stoppedAt":"2025-12-04T19:37:14.539Z","deletedAt":null,"workflowId":"L3fbjYcet4fBet6l","waitTill":null,"data":{"startData":{},"resultData":{"error":{"level":"error","tags":{},"message":"Cannot assign to read only property 'name' of object 'Error: Node 'Check Protected Slots' hasn't been executed'","stack":"TypeError: Cannot assign to read only property 'name' of object 'Error: Node 'Check Protected Slots' hasn't been executed'\n    at new ExecutionBaseError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/abstract/execution-base.error.js:24:23)\n    at new ExpressionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/expression.error.js:19:13)\n    at createExpressionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:648:24)\n    at ensureNodeExecutionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:878:35)\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:1041:33)\n    at VmCodeWrapper (evalmachine.<anonymous>:6:51)\n    at evalmachine.<anonymous>:60:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_5147392a3f2dab4b87aa45b14b25796a/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:176:61)"},"runData":{"Webhook Trigger":[{"startTime":1764877034517,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"auto.yr.com.au","user-agent":"curl/8.12.1","content-length":"286","accept":"*/*","content-type":"application/json","via":"1.1 Caddy","x-forwarded-for":"150.228.151.174:31863","x-forwarded-host":"auto.yr.com.au","x-forwarded-proto":"https","x-real-ip":"150.228.151.174:31863","accept-encoding":"gzip"},"params":{},"query":{},"body":{"args":{"patient_id":"1805465202989210063","practitioner_id":"1714950527833308596","village":"The Baytree","service_category":"physio","starts_at":"2025-12-20T09:00:00+11:00","duration_minutes":30,"funding_type":"PRIVATE"},"call":{"call_id":"test-booking-compound-2"}},"webhookUrl":"https://auto.yr.com.au/webhook/reignite-retell/book-appointment-compound","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Extract & Validate Request":[{"startTime":1764877034517,"executionIndex":1,"source":[{"previousNode":"Webhook Trigger"}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"patient_id":"1805465202989210063","practitioner_id":"1714950527833308596","business_id":"675491769126754955","appointment_type_id":"472831283798480897","appointment_type":"Standard Consultation","starts_at":"2025-12-19T22:00:00.000Z","starts_at_original":"2025-12-20T09:00:00+11:00","ends_at":"2025-12-19T22:30:00.000Z","duration_minutes":30,"date_only":"2025-12-19","day_of_week":"Friday","time_slot":"22:00:00","end_time":"22:30:00","date_formatted":"Saturday 20 December 2025","time_formatted":"09:00 am","village":"The Baytree","unit_villa":"","funding_type":"PRIVATE","appointment_notes":"","cliniko_notes":"Village: The Baytree\nFunding: PRIVATE","is_new_client":false,"client_name":"","call_id":"test-booking-compound-2","start_time":1764877034525,"timestamp":"2025-12-04T19:37:14.525Z","validation_failed":false},"pairedItem":{"item":0}}]]}}],"Validation Failed?":[{"startTime":1764877034525,"executionIndex":2,"source":[{"previousNode":"Extract & Validate Request"}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"patient_id":"1805465202989210063","practitioner_id":"1714950527833308596","business_id":"675491769126754955","appointment_type_id":"472831283798480897","appointment_type":"Standard Consultation","starts_at":"2025-12-19T22:00:00.000Z","starts_at_original":"2025-12-20T09:00:00+11:00","ends_at":"2025-12-19T22:30:00.000Z","duration_minutes":30,"date_only":"2025-12-19","day_of_week":"Friday","time_slot":"22:00:00","end_time":"22:30:00","date_formatted":"Saturday 20 December 2025","time_formatted":"09:00 am","village":"The Baytree","unit_villa":"","funding_type":"PRIVATE","appointment_notes":"","cliniko_notes":"Village: The Baytree\nFunding: PRIVATE","is_new_client":false,"client_name":"","call_id":"test-booking-compound-2","start_time":1764877034525,"timestamp":"2025-12-04T19:37:14.525Z","validation_failed":false},"pairedItem":{"item":0}}]]}}],"Check Holiday":[{"startTime":1764877034526,"executionIndex":3,"source":[{"previousNode":"Validation Failed?","previousNodeOutput":1}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":[{"item":0,"input":0}]}]]}}],"Run All Pre-Checks":[{"startTime":1764877034533,"executionIndex":4,"source":[{"previousNode":"Check Holiday"}],"hints":[],"executionTime":6,"executionStatus":"error","error":{"level":"error","tags":{},"message":"Cannot assign to read only property 'name' of object 'Error: Node 'Check Protected Slots' hasn't been executed'","stack":"TypeError: Cannot assign to read only property 'name' of object 'Error: Node 'Check Protected Slots' hasn't been executed'\n    at new ExecutionBaseError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/abstract/execution-base.error.js:24:23)\n    at new ExpressionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/errors/expression.error.js:19:13)\n    at createExpressionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:648:24)\n    at ensureNodeExecutionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:878:35)\n    at Object.get (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-workflow@file+packages+workflow/node_modules/n8n-workflow/dist/cjs/workflow-data-proxy.js:1041:33)\n    at VmCodeWrapper (evalmachine.<anonymous>:6:51)\n    at evalmachine.<anonymous>:60:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_5147392a3f2dab4b87aa45b14b25796a/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:176:61)"}}]},"lastNodeExecuted":"Run All Pre-Checks"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Run All Pre-Checks - v1.3 DATABASE_FIRST\n// FIX: Enabled holiday and protected slot checks using new table names\n\nconst requestData = $('Extract & Validate Request').first().json;\nconst holidayResult = $('Check Holiday').all();\nconst protectedResult = $('Check Protected Slots').all();\n\nlet blockers = [];\nlet warnings = [];\n\n// Holiday check\nlet is_holiday = false;\nlet holiday_name = null;\nif (holidayResult.length > 0 && holidayResult[0].json && holidayResult[0].json.date) {\n  is_holiday = true;\n  holiday_name = holidayResult[0].json.description;\n  blockers.push({\n    type: 'HOLIDAY_BLOCKED',\n    message: `Cannot book on ${holiday_name}`,\n    details: { date: holidayResult[0].json.date, holiday: holiday_name }\n  });\n}\n\n// Protected slot check\nlet is_protected_slot = false;\nlet protected_slot_reason = null;\nif (protectedResult.length > 0 && protectedResult[0].json && protectedResult[0].json.id) {\n  is_protected_slot = true;\n  protected_slot_reason = protectedResult[0].json.reason;\n  blockers.push({\n    type: 'PROTECTED_SLOT_BLOCKED',\n    message: `This time slot is protected: ${protected_slot_reason}`,\n    details: protectedResult[0].json\n  });\n}\n\nconst can_proceed = blockers.length === 0;\n\nreturn [{\n  json: {\n    ...requestData,\n    pre_checks: {\n      holiday: {\n        checked: true,\n        is_holiday,\n        holiday_name\n      },\n      protected_slot: {\n        checked: true,\n        is_protected: is_protected_slot,\n        reason: protected_slot_reason\n      }\n    },\n    can_proceed,\n    blockers,\n    warnings,\n    checks_completed_at: new Date().toISOString()\n  }\n}];","notice":""},"id":"code-prechecks-001","name":"Run All Pre-Checks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300]},"data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Check Holiday"}]}},{"node":{"parameters":{"resource":"database","operation":"executeQuery","query":"-- Check for protected slots on this day/time\nSELECT id, day_of_week, start_time, end_time, reason\nFROM safety_protected_slots\nWHERE is_active = true\n  AND day_of_week = $1\n  AND (\n    (start_time <= $2::time AND end_time > $2::time)\n    OR (start_time < $3::time AND end_time >= $3::time)\n    OR (start_time >= $2::time AND end_time <= $3::time)\n  )\n  AND (practitioner_id IS NULL OR practitioner_id = $4)\n  AND (village IS NULL OR village = $5)\nLIMIT 1;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.day_of_week, $json.time_slot, $json.end_time, $json.practitioner_id, $json.village] }}"}},"id":"postgres-protected-001","name":"Check Protected Slots","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[750,400],"alwaysOutputData":true,"credentials":{"postgres":{"id":"7IKr1k5yuchz7uQL","name":"n8n Postgres DB"}}},"data":{"main":[[{"json":{"patient_id":"1805465202989210063","practitioner_id":"1714950527833308596","business_id":"675491769126754955","appointment_type_id":"472831283798480897","appointment_type":"Standard Consultation","starts_at":"2025-12-19T22:00:00.000Z","starts_at_original":"2025-12-20T09:00:00+11:00","ends_at":"2025-12-19T22:30:00.000Z","duration_minutes":30,"date_only":"2025-12-19","day_of_week":"Friday","time_slot":"22:00:00","end_time":"22:30:00","date_formatted":"Saturday 20 December 2025","time_formatted":"09:00 am","village":"The Baytree","unit_villa":"","funding_type":"PRIVATE","appointment_notes":"","cliniko_notes":"Village: The Baytree\nFunding: PRIVATE","is_new_client":false,"client_name":"","call_id":"test-booking-compound-2","start_time":1764877034525,"timestamp":"2025-12-04T19:37:14.525Z","validation_failed":false},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Validation Failed?","previousNodeOutput":1}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1764877034517,"source":"webhook"}}},"workflowData":{"id":"L3fbjYcet4fBet6l","name":"RetellAI - Book Appointment Compound v1.3 DATABASE_FIRST","active":true,"isArchived":false,"createdAt":"2025-12-04T08:49:05.884Z","updatedAt":"2025-12-04T08:58:46.993Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"reignite-retell/book-appointment-compound","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"id":"webhook-trigger-001","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,300],"webhookId":"book-appointment-compound"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// EXTRACT & VALIDATE - v1.3 DATABASE_FIRST\n// FIX: Remove default practitioner_id - return VALIDATION_ERROR if missing\n\nconst webhookData = $input.item.json.body || $input.item.json || {};\nconst args = webhookData.args || webhookData;\nconst call = webhookData.call || {};\n\nfunction normalizePhoneAU(raw) {\n  if (!raw) return null;\n  let phone = raw.toString().replace(/[^0-9+]/g, '');\n  if (phone.startsWith('+')) return phone;\n  if (phone.length === 8 && !phone.startsWith('+')) return '+612' + phone;\n  if (phone.length === 10 && phone.startsWith('0')) return '+61' + phone.substring(1);\n  if (phone.length === 11 && phone.startsWith('61')) return '+' + phone;\n  if (phone.length === 9) return '+61' + phone;\n  return phone.startsWith('+') ? phone : '+61' + phone;\n}\n\n// Extract parameters - NO DEFAULTS for practitioner_id\nconst patient_id = args.patient_id || '';\nconst practitioner_id = args.practitioner_id || ''; // FIX: No default!\nconst appointment_type = args.appointment_type || 'Standard Consultation';\nconst starts_at = args.starts_at || args.start_time || args.datetime || '';\nconst duration_minutes = parseInt(args.duration_minutes) || 30;\nconst village = args.village || '';\nconst funding_type = (args.funding_type || '').toUpperCase();\nconst appointment_notes = args.appointment_notes || args.notes || '';\nconst unit_villa = args.unit_villa || '';\nconst is_new_client = args.is_new_client || false;\nconst client_name = args.client_name || '';\nconst call_id = call.call_id || args.call_id || '';\n\n// Validation\nconst errors = [];\n\nif (!patient_id) errors.push('patient_id is required');\nif (!starts_at) errors.push('starts_at is required');\nif (!village) errors.push('village is required');\nif (!funding_type) errors.push('funding_type is required');\n\n// FIX: practitioner_id is REQUIRED - do not guess\nif (!practitioner_id) {\n  errors.push('practitioner_id is required. Please ask which practitioner the client wants.');\n}\n\nconst validFundingTypes = ['HCP', 'DVA', 'GP', 'PRIVATE', 'PHI'];\nif (funding_type && !validFundingTypes.includes(funding_type)) {\n  errors.push(`Invalid funding_type. Must be one of: ${validFundingTypes.join(', ')}`);\n}\n\nlet appointmentDate;\ntry {\n  appointmentDate = new Date(starts_at);\n  if (isNaN(appointmentDate.getTime())) {\n    errors.push('Invalid starts_at format. Use ISO 8601 format.');\n  }\n} catch (e) {\n  errors.push('Invalid starts_at format. Use ISO 8601 format.');\n}\n\nconst now = new Date();\nif (appointmentDate && appointmentDate <= now) {\n  errors.push('Appointment starts_at must be in the future');\n}\n\nif (appointmentDate) {\n  const maxBookingDate = new Date(now);\n  maxBookingDate.setDate(now.getDate() + 21);\n  if (appointmentDate > maxBookingDate) {\n    const daysAhead = Math.ceil((appointmentDate - now) / (1000 * 60 * 60 * 24));\n    errors.push(`Appointment is ${daysAhead} days ahead. Bookings limited to 21 days.`);\n  }\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      success: false,\n      appointment_created: false,\n      error: {\n        code: 'VALIDATION_ERROR',\n        message: errors.join('; '),\n        details: errors\n      },\n      call_id: call_id,\n      timestamp: new Date().toISOString(),\n      validation_failed: true\n    }\n  }];\n}\n\n// Calculate derived fields\nconst starts_at_utc = appointmentDate.toISOString();\nconst endDate = new Date(appointmentDate);\nendDate.setMinutes(endDate.getMinutes() + duration_minutes);\nconst ends_at = endDate.toISOString();\nconst date_only = appointmentDate.toISOString().split('T')[0];\n\nconst daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];\nconst day_of_week = daysOfWeek[appointmentDate.getDay()];\n\nconst hours = String(appointmentDate.getHours()).padStart(2, '0');\nconst minutes = String(appointmentDate.getMinutes()).padStart(2, '0');\nconst time_slot = `${hours}:${minutes}:00`;\n\nconst endHours = String(endDate.getHours()).padStart(2, '0');\nconst endMinutes = String(endDate.getMinutes()).padStart(2, '0');\nconst end_time = `${endHours}:${endMinutes}:00`;\n\nconst date_formatted = appointmentDate.toLocaleDateString('en-AU', { \n  timeZone: 'Australia/Sydney',\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' \n});\nconst time_formatted = appointmentDate.toLocaleTimeString('en-AU', { \n  timeZone: 'Australia/Sydney',\n  hour: '2-digit', minute: '2-digit', hour12: true \n});\n\nconst clinikoNotes = [\n  `Village: ${village}`,\n  unit_villa ? `Unit/Villa: ${unit_villa}` : '',\n  `Funding: ${funding_type}`,\n  appointment_notes ? `Notes: ${appointment_notes}` : ''\n].filter(n => n).join('\\n');\n\nconst APPOINTMENT_TYPE_MAP = {\n  'Standard Consultation': '472831283798480897',\n  'Standard Home Visit': '472831283798480897'\n};\nconst appointment_type_id = APPOINTMENT_TYPE_MAP[appointment_type] || '472831283798480897';\n\nreturn [{\n  json: {\n    patient_id,\n    practitioner_id,\n    business_id: '675491769126754955',\n    appointment_type_id,\n    appointment_type,\n    starts_at: starts_at_utc,\n    starts_at_original: starts_at,\n    ends_at,\n    duration_minutes,\n    date_only,\n    day_of_week,\n    time_slot,\n    end_time,\n    date_formatted,\n    time_formatted,\n    village,\n    unit_villa,\n    funding_type,\n    appointment_notes,\n    cliniko_notes: clinikoNotes,\n    is_new_client,\n    client_name,\n    call_id,\n    start_time: Date.now(),\n    timestamp: new Date().toISOString(),\n    validation_failed: false\n  }\n}];","notice":""},"id":"code-extract-001","name":"Extract & Validate Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"validation-failed-check","leftValue":"={{ $json.validation_failed }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-validation-001","name":"Validation Failed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[500,300]},{"parameters":{"resource":"database","operation":"executeQuery","query":"-- Check for holiday on booking date\nSELECT date, description FROM safety_holidays WHERE date = $1::date LIMIT 1;","options":{"queryBatching":"independently","queryReplacement":"={{ $json.date_only }}"}},"id":"postgres-holiday-001","name":"Check Holiday","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[750,200],"alwaysOutputData":true,"credentials":{"postgres":{"id":"7IKr1k5yuchz7uQL","name":"n8n Postgres DB"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"-- Check for protected slots on this day/time\nSELECT id, day_of_week, start_time, end_time, reason\nFROM safety_protected_slots\nWHERE is_active = true\n  AND day_of_week = $1\n  AND (\n    (start_time <= $2::time AND end_time > $2::time)\n    OR (start_time < $3::time AND end_time >= $3::time)\n    OR (start_time >= $2::time AND end_time <= $3::time)\n  )\n  AND (practitioner_id IS NULL OR practitioner_id = $4)\n  AND (village IS NULL OR village = $5)\nLIMIT 1;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.day_of_week, $json.time_slot, $json.end_time, $json.practitioner_id, $json.village] }}"}},"id":"postgres-protected-001","name":"Check Protected Slots","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[750,400],"alwaysOutputData":true,"credentials":{"postgres":{"id":"7IKr1k5yuchz7uQL","name":"n8n Postgres DB"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Run All Pre-Checks - v1.3 DATABASE_FIRST\n// FIX: Enabled holiday and protected slot checks using new table names\n\nconst requestData = $('Extract & Validate Request').first().json;\nconst holidayResult = $('Check Holiday').all();\nconst protectedResult = $('Check Protected Slots').all();\n\nlet blockers = [];\nlet warnings = [];\n\n// Holiday check\nlet is_holiday = false;\nlet holiday_name = null;\nif (holidayResult.length > 0 && holidayResult[0].json && holidayResult[0].json.date) {\n  is_holiday = true;\n  holiday_name = holidayResult[0].json.description;\n  blockers.push({\n    type: 'HOLIDAY_BLOCKED',\n    message: `Cannot book on ${holiday_name}`,\n    details: { date: holidayResult[0].json.date, holiday: holiday_name }\n  });\n}\n\n// Protected slot check\nlet is_protected_slot = false;\nlet protected_slot_reason = null;\nif (protectedResult.length > 0 && protectedResult[0].json && protectedResult[0].json.id) {\n  is_protected_slot = true;\n  protected_slot_reason = protectedResult[0].json.reason;\n  blockers.push({\n    type: 'PROTECTED_SLOT_BLOCKED',\n    message: `This time slot is protected: ${protected_slot_reason}`,\n    details: protectedResult[0].json\n  });\n}\n\nconst can_proceed = blockers.length === 0;\n\nreturn [{\n  json: {\n    ...requestData,\n    pre_checks: {\n      holiday: {\n        checked: true,\n        is_holiday,\n        holiday_name\n      },\n      protected_slot: {\n        checked: true,\n        is_protected: is_protected_slot,\n        reason: protected_slot_reason\n      }\n    },\n    can_proceed,\n    blockers,\n    warnings,\n    checks_completed_at: new Date().toISOString()\n  }\n}];","notice":""},"id":"code-prechecks-001","name":"Run All Pre-Checks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"can-proceed-check","leftValue":"={{ $json.can_proceed }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-can-proceed-001","name":"Can Proceed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1250,300]},{"parameters":{"resource":"database","operation":"executeQuery","query":"-- Check if slot is still available in cache\n-- Mark as unavailable to prevent double-booking\nUPDATE individual_slots_cache\nSET is_available = false, last_synced = NOW()\nWHERE practitioner_id = $1\n  AND starts_at = $2::timestamptz\n  AND is_available = true\nRETURNING *;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.practitioner_id, $json.starts_at] }}"}},"id":"postgres-reserve-slot-001","name":"Reserve Slot in Cache","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1500,200],"alwaysOutputData":true,"credentials":{"postgres":{"id":"7IKr1k5yuchz7uQL","name":"n8n Postgres DB"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Check if slot was successfully reserved\nconst reserveResult = $input.all();\nconst requestData = $('Run All Pre-Checks').first().json;\n\n// If no rows returned, slot was already taken or doesn't exist\nconst wasReserved = reserveResult.length > 0 && reserveResult[0].json && reserveResult[0].json.id;\n\nif (!wasReserved) {\n  return [{\n    json: {\n      ...requestData,\n      slot_reserved: false,\n      can_proceed: false,\n      blockers: [\n        ...requestData.blockers,\n        {\n          type: 'SLOT_UNAVAILABLE',\n          message: 'This time slot is no longer available. It may have been booked by someone else.',\n          details: { practitioner_id: requestData.practitioner_id, starts_at: requestData.starts_at }\n        }\n      ]\n    }\n  }];\n}\n\n// Slot reserved successfully\nreturn [{\n  json: {\n    ...requestData,\n    slot_reserved: true,\n    reserved_slot: reserveResult[0].json\n  }\n}];","notice":""},"id":"code-check-reserve-001","name":"Check Reservation","type":"n8n-nodes-base.code","typeVersion":2,"position":[1750,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"slot-reserved-check","leftValue":"={{ $json.slot_reserved }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-slot-reserved-001","name":"Slot Reserved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,200]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.au2.cliniko.com/v1/individual_appointments","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"User-Agent","value":"RetellAI n8n Webhook (support@yr.com.au)"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ { patient_id: $json.patient_id, practitioner_id: $json.practitioner_id, business_id: $json.business_id, appointment_type_id: $json.appointment_type_id, starts_at: $json.starts_at, ends_at: $json.ends_at, notes: $json.cliniko_notes, send_sms: true, confirmed: true } }}","options":{},"infoMessage":""},"id":"http-create-appt-001","name":"Create Appointment in Cliniko","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2250,100],"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"jjBjG1tO5syL0Ip9","name":"Reignite-Cliniko"}},"continueOnFail":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Process Cliniko response\nconst clinikoResponse = $input.item.json;\nconst requestData = $('Check Reservation').first().json;\n\nif (clinikoResponse.error || !clinikoResponse.id) {\n  const errorMsg = clinikoResponse.error || 'No appointment ID returned';\n  \n  // Rollback: Mark slot as available again\n  return [{\n    json: {\n      ...requestData,\n      appointment_created: false,\n      cliniko_error: errorMsg,\n      rollback_needed: true,\n      error: {\n        code: 'CLINIKO_CREATE_ERROR',\n        message: `Failed to create appointment: ${errorMsg}`\n      }\n    }\n  }];\n}\n\nconst patient_name = clinikoResponse.patient?.first_name && clinikoResponse.patient?.last_name\n  ? `${clinikoResponse.patient.first_name} ${clinikoResponse.patient.last_name}`\n  : requestData.client_name || 'Patient';\n\nreturn [{\n  json: {\n    ...requestData,\n    appointment_created: true,\n    appointment_id: clinikoResponse.id,\n    patient_name: patient_name,\n    practitioner_name: requestData.reserved_slot?.practitioner_name || 'Practitioner',\n    cliniko_link: `https://reignitehealth.au2.cliniko.com/appointments/${clinikoResponse.id}`,\n    sms_sent: true,\n    cliniko_response: clinikoResponse,\n    rollback_needed: false\n  }\n}];","notice":""},"id":"code-process-cliniko-001","name":"Process Cliniko Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2500,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"appointment-created-check","leftValue":"={{ $json.appointment_created }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"if-created-001","name":"Appointment Created?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2750,100]},{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://api.au2.cliniko.com/v1/treatment_notes","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"User-Agent","value":"RetellAI n8n Webhook (support@yr.com.au)"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ { individual_appointment_id: $json.appointment_id, content: 'Booked via Voice AI.\\nCall ID: ' + $json.call_id + '\\nFunding: ' + $json.funding_type + '\\nType: ' + $json.appointment_type + ($json.unit_villa ? '\\nUnit/Villa: ' + $json.unit_villa : '') + ($json.appointment_notes ? '\\nNotes: ' + $json.appointment_notes : '') } }}","options":{},"infoMessage":""},"id":"http-treatment-notes-001","name":"Add Treatment Notes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3000,0],"alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"jjBjG1tO5syL0Ip9","name":"Reignite-Cliniko"}},"continueOnFail":true},{"parameters":{"preBuiltAgentsCalloutGmail":"","authentication":"oAuth2","resource":"message","operation":"send","sendTo":"peter@yesai.au","subject":"=Voice AI Booking - {{ $('Process Cliniko Response').first().json.patient_name }}","emailType":"html","message":"=<html><body style=\"font-family: Arial, sans-serif;\"><h2>Voice AI Booking</h2><p><strong>Patient:</strong> {{ $('Process Cliniko Response').first().json.patient_name }}</p><p><strong>Date:</strong> {{ $('Process Cliniko Response').first().json.date_formatted }}</p><p><strong>Time:</strong> {{ $('Process Cliniko Response').first().json.time_formatted }}</p><p><strong>Village:</strong> {{ $('Process Cliniko Response').first().json.village }}</p><p><strong>Funding:</strong> {{ $('Process Cliniko Response').first().json.funding_type }}</p><p><a href=\"{{ $('Process Cliniko Response').first().json.cliniko_link }}\">View in Cliniko</a></p></body></html>","options":{}},"id":"gmail-notify-001","name":"Send Email Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3250,0],"credentials":{"gmailOAuth2":{"id":"wQTBKo8ZT52ltAMq","name":"Gmail account"}},"continueOnFail":true},{"parameters":{"resource":"database","operation":"executeQuery","query":"DELETE FROM patient_funding_cache WHERE patient_id = $1 RETURNING *;","options":{"queryBatching":"independently","queryReplacement":"={{ $('Process Cliniko Response').first().json.patient_id }}"}},"id":"postgres-invalidate-001","name":"Invalidate Funding Cache","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[3500,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"7IKr1k5yuchz7uQL","name":"n8n Postgres DB"}},"continueOnFail":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Format final success response\nconst data = $('Process Cliniko Response').first().json;\nconst duration_ms = Date.now() - data.start_time;\n\nreturn [{\n  json: {\n    success: true,\n    appointment_created: true,\n    appointment_id: data.appointment_id,\n    confirmation_details: {\n      patient_name: data.patient_name,\n      practitioner_name: data.practitioner_name,\n      datetime: data.starts_at,\n      date: data.date_formatted,\n      time: data.time_formatted,\n      duration_minutes: data.duration_minutes,\n      village: data.village,\n      funding_type: data.funding_type,\n      appointment_type: data.appointment_type\n    },\n    pre_checks: data.pre_checks,\n    cliniko_link: data.cliniko_link,\n    call_id: data.call_id,\n    duration_ms: duration_ms,\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"code-success-response-001","name":"Format Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3750,0]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"respond-success-001","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4000,0]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Format validation error response\nconst data = $json;\n\nreturn [{\n  json: {\n    success: false,\n    appointment_created: false,\n    error: data.error,\n    call_id: data.call_id,\n    timestamp: data.timestamp\n  }\n}];","notice":""},"id":"code-validation-error-001","name":"Format Validation Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,600]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"respond-validation-001","name":"Respond Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1000,600]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Format blocked response (pre-checks or slot unavailable)\nconst data = $json;\nconst duration_ms = Date.now() - data.start_time;\nconst primaryBlocker = data.blockers[0] || { type: 'UNKNOWN', message: 'Booking blocked' };\n\nreturn [{\n  json: {\n    success: false,\n    appointment_created: false,\n    error: {\n      code: primaryBlocker.type,\n      message: primaryBlocker.message,\n      all_blockers: data.blockers\n    },\n    pre_checks: data.pre_checks,\n    requested_details: {\n      datetime: data.starts_at,\n      date: data.date_formatted,\n      time: data.time_formatted,\n      village: data.village,\n      practitioner_id: data.practitioner_id\n    },\n    call_id: data.call_id,\n    duration_ms: duration_ms,\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"code-blocked-response-001","name":"Format Blocked Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,500]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"respond-blocked-001","name":"Respond Blocked","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1750,500]},{"parameters":{"resource":"database","operation":"executeQuery","query":"-- Rollback: Mark slot as available again\nUPDATE individual_slots_cache\nSET is_available = true, last_synced = NOW()\nWHERE practitioner_id = $1 AND starts_at = $2::timestamptz\nRETURNING *;","options":{"queryBatching":"independently","queryReplacement":"={{ [$json.practitioner_id, $json.starts_at] }}"}},"id":"postgres-rollback-001","name":"Rollback Slot Reservation","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[3000,250],"alwaysOutputData":true,"credentials":{"postgres":{"id":"7IKr1k5yuchz7uQL","name":"n8n Postgres DB"}},"continueOnFail":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Format create error response\nconst data = $json;\nconst duration_ms = Date.now() - data.start_time;\n\nreturn [{\n  json: {\n    success: false,\n    appointment_created: false,\n    error: data.error || {\n      code: 'CLINIKO_CREATE_ERROR',\n      message: 'Failed to create appointment in Cliniko'\n    },\n    pre_checks: data.pre_checks,\n    requested_details: {\n      datetime: data.starts_at,\n      date: data.date_formatted,\n      time: data.time_formatted,\n      village: data.village\n    },\n    call_id: data.call_id,\n    duration_ms: duration_ms,\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"code-create-error-001","name":"Format Create Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[3250,250]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"respond-create-error-001","name":"Respond Create Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3500,250]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Format slot unavailable response\nconst data = $json;\nconst duration_ms = Date.now() - data.start_time;\n\nreturn [{\n  json: {\n    success: false,\n    appointment_created: false,\n    error: {\n      code: 'SLOT_UNAVAILABLE',\n      message: 'This time slot is no longer available.',\n      blockers: data.blockers\n    },\n    pre_checks: data.pre_checks,\n    requested_details: {\n      datetime: data.starts_at,\n      date: data.date_formatted,\n      time: data.time_formatted,\n      village: data.village\n    },\n    call_id: data.call_id,\n    duration_ms: duration_ms,\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"code-slot-error-001","name":"Format Slot Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2250,350]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"respond-slot-error-001","name":"Respond Slot Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2500,350]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Extract & Validate Request","type":"main","index":0}]]},"Extract & Validate Request":{"main":[[{"node":"Validation Failed?","type":"main","index":0}]]},"Validation Failed?":{"main":[[{"node":"Format Validation Error","type":"main","index":0}],[{"node":"Check Holiday","type":"main","index":0},{"node":"Check Protected Slots","type":"main","index":0}]]},"Format Validation Error":{"main":[[{"node":"Respond Validation Error","type":"main","index":0}]]},"Check Holiday":{"main":[[{"node":"Run All Pre-Checks","type":"main","index":0}]]},"Check Protected Slots":{"main":[[{"node":"Run All Pre-Checks","type":"main","index":0}]]},"Run All Pre-Checks":{"main":[[{"node":"Can Proceed?","type":"main","index":0}]]},"Can Proceed?":{"main":[[{"node":"Reserve Slot in Cache","type":"main","index":0}],[{"node":"Format Blocked Response","type":"main","index":0}]]},"Format Blocked Response":{"main":[[{"node":"Respond Blocked","type":"main","index":0}]]},"Reserve Slot in Cache":{"main":[[{"node":"Check Reservation","type":"main","index":0}]]},"Check Reservation":{"main":[[{"node":"Slot Reserved?","type":"main","index":0}]]},"Slot Reserved?":{"main":[[{"node":"Create Appointment in Cliniko","type":"main","index":0}],[{"node":"Format Slot Error","type":"main","index":0}]]},"Format Slot Error":{"main":[[{"node":"Respond Slot Error","type":"main","index":0}]]},"Create Appointment in Cliniko":{"main":[[{"node":"Process Cliniko Response","type":"main","index":0}]]},"Process Cliniko Response":{"main":[[{"node":"Appointment Created?","type":"main","index":0}]]},"Appointment Created?":{"main":[[{"node":"Add Treatment Notes","type":"main","index":0}],[{"node":"Rollback Slot Reservation","type":"main","index":0}]]},"Rollback Slot Reservation":{"main":[[{"node":"Format Create Error","type":"main","index":0}]]},"Format Create Error":{"main":[[{"node":"Respond Create Error","type":"main","index":0}]]},"Add Treatment Notes":{"main":[[{"node":"Send Email Notification","type":"main","index":0}]]},"Send Email Notification":{"main":[[{"node":"Invalidate Funding Cache","type":"main","index":0}]]},"Invalidate Funding Cache":{"main":[[{"node":"Format Success Response","type":"main","index":0}]]},"Format Success Response":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}}